html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        header {
            background-color: rgb(255 118 0);
            .container {
                max-width: 1200px;
                margin: 0 auto;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .col-33 {
                        width: calc(100% / 3);
                        .content {
                            padding: 15px;
                            font-size: small;
                            color: white;
                            .image-size {
                                width: 110px;
                            }
                        }
                        .ta-center {
                            text-align: center;
                        }
                        .ta-end {
                            text-align: end;
                        }
                    }
                }
            }
        }
        main {
            .container {
                max-width: 1200px;
                margin: 0 auto;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    .col-33 {
                        width: calc(100% / 3);
                        .content {
                            margin: 25px 10px;
                            position: relative;
                            .image-size {
                                max-width: 100%;
                            }
                            .d-block {
                                display: block;
                            }
                            .d-none {
                                display: none;
                            }
                            .labelHeart {
                                padding: 5px 10px 5px 10px;
                                background-color: white;
                                position: absolute;
                                font-size: 25px;
                                top: 10px;
                                right: 0;
                            }
                            .labelRed {
                                padding: 5px 10px 5px 10px;
                                color: white;
                                background-color: red;
                                position: absolute;
                                bottom: 90px;
                                font-size: 11px;
                                font-weight: 700;
                            }
                            .labelGreen{
                                padding: 5px 10px 5px 10px;
                                color: white;
                                background-color: green;
                                position: absolute;
                                bottom: 90px;
                                left: 50px;
                                font-size: 11px;
                                font-weight: 700;
                            }
                            .abs-left0 {
                                position: absolute;
                                left: 0;
                            }
                            .info {
                                font-size: 14px;
                                span {
                                    color: red;
                                    font-size: 12px;
                                    font-weight: 700;
                                }
                                .td-line {
                                    color: black;
                                    text-decoration: line-through;
                                }    
                            }
                        }
                        .content:hover .d-block {
                            display: none;
                        }
                        .content:hover .d-none {
                            display: block;
                        }
                    }
                }
            }
        }
        footer {
            background-color: black;
            border-bottom: 1px solid white;
            .container {
                max-width: 1200px;
                margin: 0 auto;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    .col-50 {
                        width: 50%;
                        height: 150px;
                        background-color: green;
                        border: 1px solid black;
                        .content {
                            color: white;
                        }
                        .icons {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}